// Custom.scss

// Font Family
$font-family: 'Inter', serif;

// Color Scheme
$primary: #3b82f6;
$secondary: #98a2b2;
$dark: #1f2633;
$light: #f7f8fa;
$warning: #ca8a04;
$info: #33bfff;
$danger: #db2777;
$success: #16a34a;
$gray: #606c80;
$purple: #9333ea;
$primary-opacity: #e5ecf8;
$warning-opacity: #f6ecda;
$info-opacity: #c7e7f6;
$purple-opacity: #e0ccf3;
$danger-opacity: #f4c7db;
$success-opacity: #d7f4e2;

//  General Styles
body {
  font-family: $font-family !important;
  font-weight: 700;
  background-color: $light !important;
}

.fs-3,
.fs-6 {
  color: $dark !important;
  font-weight: 800;
}

.fs-6 {
  font-size: 14px !important;
}

.input-group {
  width: 264px !important;
  color: $secondary !important;
  > .form-control:focus {
    outline-width: 0 !important;
    box-shadow: none;
    font-size: 12px;
  }
}

.accordion-button:not(.collapsed) {
  box-shadow: none !important;
}

.badge-primary {
  color: $primary;
  background-color: $primary-opacity;
}

.badge-secondary {
  color: $secondary;
  border: 1px solid $secondary;
}

.badge-warning {
  color: $warning;
  background-color: $warning-opacity;
}

.badge-info {
  color: $info;
  background-color: $info-opacity;
}

.badge-purple {
  color: $purple;
  background-color: $purple-opacity;
}

.badge-danger {
  color: $danger;
  background-color: $danger-opacity;
}

.badge-success {
  color: $success;
  background-color: $success-opacity;
}

.text-warning {
  color: $warning;
}

.text-secondary {
  color: $secondary;
}

.text-info {
  color: $info;
}

.text-purple {
  color: $purple;
}

.text-gray {
  color: $gray;
}

.v-gap {
  margin-bottom: 32px;
}

// Sidebar Styles

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: $light;
  overflow-y: auto;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1040;
  &.open {
    transform: translateX(0);
  }
  .logo-holder {
    padding: 30px 32px;
    .brand-name {
      font-size: 1.2rem;
      text-decoration: none;
      color: $dark;
    }
  }
  .profile-holder {
    margin: 32px 32px 36px;
    padding-bottom: 32px;
    gap: 53px;
    .user-name {
      font-size: 14px;
      color: $dark;
      margin-bottom: 4px;
    }

    .user-profession {
      font-size: 12px;
      color: $secondary;
    }
  }
  .sidebar-nav {
    padding: 0 32px 32px 32px;
    .nav-link {
      padding: 24px 0 0 !important;
      img {
        margin-right: 16px;
      }

      span {
        font-size: 12px;
        color: $dark;
      }

      .badge {
        color: $primary !important;
        background-color: $primary-opacity;
      }
    }
  }
  .accordion {
    border-color: $light !important;
    .sidebar-nav {
      background-color: $light !important;
    }
    .accordion-button {
      background-color: $light !important;
      padding: 32px !important;
      &:focus {
        outline-width: 0 !important;
      }
    }
    .accordion-item {
      border: none !important;
    }
  }
}

// Header Styles

.header {
  position: sticky;
  top: 0;
  background-color: $light;
  z-index: 1030;
  padding: 20px;
  .form-holder {
    gap: 32px;
  }
  ul {
    gap: 32px;
    .nav-item {
      list-style-type: none;
      font-size: 12px;
      .nav-link {
        color: $secondary !important;
        font-weight: 800;
        &.active {
          color: $dark !important;
        }
      }
    }
  }
  .header-profile-holder {
    gap: 16px;
  }
}

// Main content Styles
.main-content {
  .nav-list {
    gap: 24px;
    .nav-item {
      list-style-type: none !important;
      font-size: 11px;
      font-weight: 800;
      .nav-link {
        color: $dark;
        &.active {
          color: $primary;
          padding-bottom: 10px;
          border-bottom: 1px solid $primary;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .display-none {
    display: none;
  }
  .sidebar {
    transform: translateX(0);
    width: 250px;
    &.shifted {
      transform: translateX(3%);
      width: 85px;
    }
  }
  .main-content {
    margin-left: 250px;
    transition: margin-left 0.3s ease-in-out;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    &.shifted {
      margin-left: 85px;
    }
    .header {
      padding: 20px 36px;
      .form-holder {
        .input-group {
          height: 48px;
        }
      }
    }

    .container {
      padding: 0 36px !important;
    }
  }
}

@media (min-width: 1600px) {
  .fs-6 {
    font-size: 16px !important;
  }
  .brand-name {
    font-size: 1.5rem;
  }
  .sidebar {
    transform: translateX(0);
    width: 302px;
    &.shifted {
      width: 115px;
    }
    .sidebar-nav {
      .nav-link {
        span {
          font-size: 14px;
        }
      }
    }
  }
  .main-content {
    margin-left: 302px;
    transition: margin-left 0.3s ease-in-out;
    height: 100vh;
    overflow-y: auto;
    &.shifted {
      margin-left: 115px;
    }
    .container {
      max-width: 1528px;
    }
    .nav-list {
      .nav-item {
        font-size: 14px;
      }
    }
    .header {
      padding: 20px 36px;
      .form-holder {
        .input-group {
          height: 48px;
        }
      }
      ul {
        .nav-item {
          font-size: 14px;
        }
      }
    }
  }
}
